
//Color list
$white: #FFFFFF;
$orange: #E49548;
$gray: #858585;
$purple: #9F0055;
$lightgray: #aeaeae;
$nabyblue: #393e46;
$blue: #00adb5;
$green: #00b56a;
$red: #e2574c;
$yellow: #dbbc13;
$lightblue: #00c4cf;
